{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": ["6"],
      },
      "modules": false,
    }]
  ],
  "plugins": [
    "transform-flow-strip-types",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}
